*{
    margin: 0;
    padding: 0;
}



.logobalken {

    background-color: #356ea9;
   /*width:100%;
    height:20%;

*/

    width: 100%;
    height: 3em;

}

#logobox{
    height:100%;
    width:25%;
    position: relative;
}


.logobalken #logobox img{
    position: absolute;
    top: 5%;
    width: auto ;
    height:90%;
}












.wrapper{
    margin: 0 auto;
    width:317px;
    height:475px ;
    background-color: #fff;
    overflow:hidden;
    position: relative;
    float: right;
}

.wrapper ul li .imgbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top :0px;
    animation: ease-in;
    /*
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;*/
}

.wrapper ul li #img1{
    background-image: url("Bilder/Bild1.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper ul li #img2{
    background-image: url("Bilder/Bild2.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper ul li #img3{
    background-image: url("Bilder/Bild3.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
/*
.wrapper ul li #img4{
    background-image: url("Bilder/Bild4.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper ul li #img5{
    background-image: url("Bilder/Bild5.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}*/



